

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  text-align: left;
  margin-top: 10%;
}
.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.grid-item {
  padding: 20px;
  text-align: left;
}
.column:nth-child(3){
  padding: 0 40px;

}
.column:nth-child(6){
  padding: 0 40px;
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr; 
  }
  .content-container{
    margin-top: 20%;
  }
  .column:nth-child(3){
    padding: 0 20px ;
  
  }
  .column:nth-child(6){
    padding: 0 20px ;
  }
}
